@using OmniDrome.ViewModels
@using OmniDrome.Models
@model FriendListViewModel

<div>
    @{
        Html.RenderPartial("GetFriendsList");
    }
    <br/>
    <table>
        @foreach (PersonalDetails item in Model.friendListViewModel)
        {
            <tr>
                <td><img alt="no image" src="@item.imageUrl" style="height:4vw;width:4vw;" /></td>
                <td>@item.firstName &nbsp; @item.lastName</td>
                <td>@item.profession</td>
                <td>@item.currentCity</td>
                <td>@item.currentCountry</td>
                <td><input type="button" value="Remove" onclick="remove(@item.UserInfoID);" /></td>
            </tr>
        }
    </table>
</div>

<script>
    function remove(id) {
        $.ajax({
            type: 'POST',
            url: '/SocialNetwork/RemoveFriend',
            dataType: 'json',
            data: { requesiFromId: id },
            success: function (data) {
            }
        });
    }
</script>
