@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderSection{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/personalInfo")
    @Scripts.Render("~/bundles/timeline")
    @Styles.Render("~/Content/timeline")
    @Styles.Render("~/Content/profile")
    @Scripts.Render("~/bundles/zoomCircle")
}

<div id="mainProfile" ng-app="PersonalInfo">
    <div class="grid" id="firstCircle">
        <div class="main">
            <div class="circle zoomTarget" style="background: green;">
                <div class="info-wrap">
                    <div class="ch-info">
                        <div class="ch-info-front ch-img-1"></div>
                        <div class="ch-info-back">
                            <ul class="nav navbar-nav">
                                <li><a ui-sref="ShowInfo">Show</a></li>
                                <li><a ui-sref="EditInfo">Edit</a></li>
                            </ul>
                            <div ui-view="mainProfile"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="gridPast" id="secondCircle">
        <div class="mainPast">
            <div class="circlePast zoomTarget" style="background: green;">
                <div class="info-wrapPast">
                    <div class="ch-infoPast">
                        <div class="ch-info-frontPast ch-img-1"></div>
                        <div class="ch-info-backPast">
                            <h3>TimeLine</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="gridPast" id="thirdCircle">
        <div class="mainPast">
            <div class="circlePast zoomTarget" style="background: green;">
                <div class="info-wrapPast">
                    <div class="ch-infoPast">
                        <div class="ch-info-frontPast ch-img-1"></div>
                        <div class="ch-info-backPast">
                            <h3>Where am I now</h3>
                            @{Html.RenderAction("CurrentPositionPartial");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="gridPast" id="fourthCircle">
        <div class="mainPast">
            <div class="circlePast zoomTarget" style="background: green;">
                <div class="info-wrapPast">
                    <div class="ch-infoPast">
                        <div class="ch-info-frontPast ch-img-1"></div>
                        <div class="ch-info-backPast">
                            <h3>Where I want to go</h3>
                            @Html.Partial("DreamJobPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="ShowBackgroundInfo">Show</a></li>
            <li><a ui-sref="AddBackgroundInfo">Add</a></li>
            <li><a ui-sref="EditBackgroundInfo">Edit</a></li>
        </ul>
        <div ui-view="timeLine"></div>
    </div>

</div>


