@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderSection{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/personalInfo")
    @Scripts.Render("~/bundles/timeline")
    @Styles.Render("~/Content/timeline")
    @Styles.Render("~/Content/profile")
    @Scripts.Render("~/bundles/zoomCircle")
}

<div id="mainProfile" ng-app="PersonalInfo">

    <div class="wrapper" id="circle_timeline" style="position:absolute; left:39vw; top:6.3vw;">
        <div class="outer" style="display:block; text-align: center; background:#00ff21; width:10vw;height:10vw;">
            <div class="inner" style="background-position: center center; display:inline-block;background:#000000; width:9vw; height:9vw; position:absolute;">
                <div class="box" style="display:inline-block; position:absolute; top:1vw; right:1.3vw;">
                    <h3>My Experience</h3>
                    <div class="innerDiv" style="visibility:hidden">
                        <div class="test" ui-view="timeLine"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper" id="circle_current" style="position:absolute; left:51vw; top:5.5vw;">
        <div class="outer" style="display:block; text-align: center; background:#00ff21; width:10vw;height:10vw;">
            <div class="inner" style="background-position: center center; display:inline-block;background:#000000; width:9vw; height:9vw; position:absolute;">
                <div class="box" style="display:inline-block;  position:absolute; top:2vw; right:0vw;">
                    <h3 class="firsLabel">Where am I now</h3>
                    <div class="innerDiv" style="visibility:hidden">
                        <div class="test" ui-view="currentPosition"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapperMid" id="circle_profile">
        <div class="outer" style="display:block; text-align: center; background:#00ff21; width:30vw;height:30vw;">
            <div class="inner" style="background-position: center center; display:inline-block;background:#000000; width:29vw; height:29vw; position:absolute;">
                <div class="box" style="display:inline-block; position:absolute; top:5vw; right:4.5vw;">
                    <h3>Profile</h3>
                    <div class="innerDiv" style="visibility:hidden">
                        <div class="test" ui-view="mainProfile"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="wrapper" id="circle_dream">
        <div class="outer" style="display:block; text-align: center; background:#00ff21; width:20vw;height:20vw;">
            <div class="inner" style="background-position: center center; display:inline-block;background:#000000; width:19vw; height:19vw; position:absolute;">
                <div class="box" style="display:inline-block; position:absolute; top:2vw; right:1.5vw;">
                    <h3>Where I want to go</h3>
                    <div class="innerDiv" style="visibility:hidden">
                        <div ui-view="dreamJob"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="main_timeline" style="background-color:white;width:50vw;height:30vw">
        @{Html.RenderAction("TimeLinePartial");}
    </div>
</div>

<script>
    $('#main_timeline').css({
        visibility: 'hidden',
        position: 'fixed',
        left: (($(window).width() - $('#main_timeline').width()) / 2),
        top: (($(window).height() - $('#main_timeline').height()) / 2),
        zIndex: 50,       
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $.zoomooz.setup({ nativeanimation: true, debug: false });

        $(".inner").click(function (evt) {
            if (evt.target !== this)
                return;

            $(this).find("h3").css("visibility", "hidden");
            $(this).find(".innerDiv").css("visibility", "visible");
            evt.stopPropagation();
            $(this).zoomTo({ duration: 1000, targetsize: 1.0 });
        });

       

        $(window).click(function (evt) {
            if (evt.target.tagName.toLowerCase() !== 'input' && evt.target.tagName.toLowerCase() !== 'select' && evt.target.tagName.toLowerCase() !== 'button' && evt.target.tagName.toLowerCase() !== 'a') {
                evt.stopPropagation();
                $("body").zoomTo({ duration: 1000, targetsize: 1.0 });
            };
        });

        $('body').click(function () {
            $(this).find("h3").css("visibility", "hidden");
            $(this).find(".innerDiv").css("visibility", "visible");


        });
    });
</script>




@*<script type="text/javascript">
    $(document).ready(function () {
        $.zoomooz.setup({ nativeanimation: true, debug: false });
        $(".test").click(function (evt) {
            if (evt.target !== this)
                return;
            evt.stopPropagation();
            $(this).zoomTo({ duration: 1000, targetsize: 0.3 });

        })
    });
</script>*@





