@using OmniDrome.ViewModels
@using OmniDrome.Models
@model BackgroundInfoListViewModel

    
    <section class="cd-horizontal-timeline">
        <table style="margin:0 auto">
            <tr>
                <td><div style="width:1vw; height:1vw; background-color:blue; float:left;"></div>  Education &nbsp; &nbsp;</td>
                <td><div style="width:1vw; height:1vw; background-color:red; float:left;"></div>  Intership &nbsp; &nbsp;</td>
                <td><div style="width:1vw; height:1vw; background-color:yellow; float:left;"></div>  Work Experience &nbsp; &nbsp;</td>
                <td><div style="width:1vw; height:1vw; background-color:green; float:left;"></div>  Volunteer</td>
            </tr>
        </table>
        <div class="timeline">
            <div class="events-wrapper">
                <div id="tl_nv" class="events">
                    <ol>
                        @foreach (BackgroundInfoViewModel item in Model.backgroundInfoListViewModel)
                        {
                            <li><a href="#0" id="aaaa" data-title="@item.type" data-date="@item.endDate">@item.endDate</a></li>
                        }
                    </ol>

                    <span class="filling-line" aria-hidden="true"></span>
                </div> <!-- .events -->
            </div> <!-- .events-wrapper -->

            <ul class="cd-timeline-navigation">
                <li><a href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
            </ul> <!-- .cd-timeline-navigation -->
        </div> <!-- .timeline -->

        <div class=" events-content" ng-controller="ShowBackgroundInfoCtrl">
            <ol>
                @foreach (BackgroundInfoViewModel itemm in Model.backgroundInfoListViewModel)
                {
                    <li id="bbbb" data-date="@itemm.endDate">
                        <h2>@itemm.title</h2>
                        <em>@itemm.duration</em>
                        <p>
                            @itemm.description
                        </p>
                        <div style="padding-left:15vw;">
                            <button id="btn_timeline_add" ng-click="AddBackgroundInfo()" class="btn btn-primary">Add New</button>
                            <button id="btn_timeline_edit" ng-click="EditBackgroundInfo(@itemm.ID)" class="btn btn-primary">Edit</button>
                            <button id="btn_timeline_delete" ng-click="DeleteBackgroundInfo(@itemm.ID)" class="btn btn-primary">Delete</button>
                        </div>
                    </li>
                }
            </ol>
        </div> <!-- .events-content -->
    </section>
<script>
    $('#btn_timeline_edit,#btn_timeline_delete,#btn_timeline_add').click(function () {
        $('#overlay').remove();
        $('#main_timeline').css("visibility", "hidden");
    })

    $('#tl_nv').find('a').each(function () {
        if ($(this).attr('data-title') == 1) {
            $(this).css('color', 'blue');
        }
        else if ($(this).attr('data-title') == 2) {
            $(this).css('color', 'red');
        }
        else if ($(this).attr('data-title') == 3) {
            $(this).css('color', 'yellow');
        }
        else if ($(this).attr('data-title') == 4) {
            $(this).css('color', 'green');
        }
    });
</script>



