@using OmniDrome.ViewModels
@using OmniDrome.Models
@model BackgroundInfoListViewModel

<section ng-class="cd-horizontal-timeline">
    <div class="timeline">
        <div class="events-wrapper">
            <div class="events">
                <ol>
                    @foreach (BackgroundInfo item in Model.backgroundInfoListViewModel)
                    {
                        <li><a href="#0" id="aaaa" data-date="02/03/2014">@item.endDate</a></li>
                    }
                </ol>

                <span class="filling-line" aria-hidden="true"></span>
            </div> <!-- .events -->
        </div> <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul> <!-- .cd-timeline-navigation -->
    </div> <!-- .timeline -->

    <div class="events-content">
        <ol>
            @foreach (BackgroundInfo itemm in Model.backgroundInfoListViewModel)
            {
                <li id="bbbb" data-date="02/03/2014">
                    <h2>@itemm.title</h2>
                    <em>@itemm.startDate - @itemm.endDate</em>
                    <p>
                        @itemm.description
                    </p>
                </li>
            }
        </ol>
    </div> <!-- .events-content -->
</section>
