@using OmniDrome.ViewModels
@using OmniDrome.Models
@model BackgroundInfoListViewModel

    <section class="cd-horizontal-timeline">
        <div class="timeline">
            <div class="events-wrapper">
                <div id="tl_nv" class="events">
                    <ol>
                        @foreach (BackgroundInfoViewModel item in Model.backgroundInfoListViewModel)
                        {
                            <li><a href="#0" id="aaaa" data-title="@item.type" data-date="@item.endDate">@item.endDate</a></li>
                        }
                    </ol>

                    <span class="filling-line" aria-hidden="true"></span>
                </div> <!-- .events -->
            </div> <!-- .events-wrapper -->

            <ul class="cd-timeline-navigation">
                <li><a href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
            </ul> <!-- .cd-timeline-navigation -->
        </div> <!-- .timeline -->

        <div class=" events-content" ng-controller="ShowBackgroundInfoCtrl">
            <ol>
                @foreach (BackgroundInfoViewModel itemm in Model.backgroundInfoListViewModel)
                {
                    <li id="bbbb" data-date="@itemm.endDate">
                        <h2>@itemm.title</h2>
                        <em>@itemm.duration</em>
                        <p>
                            @itemm.description
                        </p>
                        <button id="btn_timeline_edit" ng-click="EditBackgroundInfo(@itemm.ID)" class="btn btn-primary">Edit</button>
                        <button id="btn_timeline_delete" ng-click="DeleteBackgroundInfo(@itemm.ID)" class="btn btn-primary">Delete</button>
                    </li>
                }
            </ol>
        </div> <!-- .events-content -->
    </section>
<script>
    $('#btn_timeline_edit,#btn_timeline_delete').click(function () {
        $('#overlay').remove();
        $('#main_timeline').css("visibility", "hidden");
    })

    $('#tl_nv').find('a').each(function () {
        if ($(this).attr('data-title') == 0) {
            $(this).css('color', 'blue');
        }
    });
</script>


